APP_ENV=production
TZ=America/Argentina/Buenos_Aires

COMPOSER_AUTH={"github-oauth":{"github.com":"ghp_xxx"}}

DB_HOST=shared-mysql
DB_PORT=3306
DB_NAME=liberamerkato
DB_USER=liberamerkato_user
DB_PASS=change-me
