APP_ENV=development
TZ=America/Argentina/Buenos_Aires

DB_HOST=shared-mysql
DB_PORT=3306
DB_NAME=liberamerkato
DB_USER=liberamerkato
DB_PASS=change-me

COMPOSER_AUTH={"github-oauth":{"github.com":"ghp_xxx"}}
