[Unit]
Description=Docker Compose Cooperativismo Abierto web
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/var/www/docker
ExecStart=/usr/bin/docker compose -f /var/www/docker/projects/cooperativismoabierto/compose/web.yml up -d --build
ExecStop=/usr/bin/docker compose -f /var/www/docker/projects/cooperativismoabierto/compose/web.yml down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
